// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components
/* --- general CSS --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* --- components: --- */
/* -- MainNavbar -- */
.MainNavbar {
  padding: 20px;
  color: black;

  a {
    color: black;
    padding: 0 5px;
    text-decoration: unset;
  }

  a.active {
    font-weight: bold;
  }
}
.MainNavbar__fistDiv {
  background-color: #eee;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.MainNavbar__secondDiv {
  display: flex;
  justify-content: flex-start;
}
.MainNavbar__logo {
  height: 80px;
}

/* -- App -- */
.App {
  background-color: #eee;
  padding: 20px;
}

/* --- pages: --- */
/* -- general pages classes -- */
.form {
  padding: 50px;
}
.form label {
  display: inline-block;
  width: 100px;
}
.form input {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 8px 0;
  width: 250px;
}
.form button {
  background-color: #c4092f;
  border: none;
  border-radius: 10px;
  color: #eee;
  padding: 8px;
}
.form-div__btn {
  display: flex;
  justify-content: flex-end;
}

/* -- pages: Signup -- */
.Signup {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Signup p {
  padding-top: 30px;
  width: 700px;
}
.SignupProfile p {
  display: flex;
  justify-content: center;
}

/* -- pages: Login -- */
.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* -- pages:  -- */

/*  --- class info --- */
.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #c4092f;
}
